.row {
    height: 50px;
    color: pink;
    display: flex;
    flex-direction: row;
}

.block {
    border: 1px solid black;
    width: 50px;
}

.hovered {
    background-color: yellow;
}

#container {
    display: flex;
    flex-direction: column;
}