.row {
    /*height: 50px;*/
    color: pink;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.block {
    border: 1px solid black;
    flex-grow: 1;
    /*width: 50px;*/
}

.hovered {
    background-color: black;
}

#container {
    display: flex;
    flex-direction: column;
    width: 960px;
    height: 960px;
}